# Basic Streamlit App Requirements
streamlit~=1.36.0
llama-parse
llama-index
llama-index-core
llama-index-llms-azure-openai
llama-index-embeddings-openai
python-dotenv~=1.0.1

# GraphRAG Requirements
llama-index
graspologic~=3.4.1
numpy
scipy
pandas~=2.2.2
networkx~=3.2.1